<a href="https://colab.research.google.com/github/Komatwark/python-assignment/blob/main/data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data types in python

1.  numeric (int, float, complex)
2.boolen
3.string
4.list
5.tuple
6.set
7.dict
8. range
9. frozenset

In [2]:
#numeric
#int [0-9] are int numbers
num1 = 21
type(num1)

int

In [4]:
#float
num2 = 3.14
type(num2)

float

In [5]:
#python is a dynamically atyopoed language
#int a = 100 ------- static
# a = 100   --------dynamic

In [7]:
#list: collection of multiple values
r = [1,2,3,4,5]
type(k)

list

In [9]:
#empty list
k = []
type(k)

list

In [12]:
r

NameError: name 'r' is not defined

In [13]:
#tuple collection of objects
#syntax: ()

In [16]:
x = (1,2,3,4,)
x,type(x)

((1, 2, 3, 4), tuple)

In [18]:
1,2,3

(1, 2, 3)

In [21]:
(1,2,3,(4+5j),[4,5,6])

(1, 2, 3, (4+5j), [4, 5, 6])

In [22]:
#set
#syntax {}

In [23]:
#dictionary : dict
#syntax : {key:value}

In [25]:
d = {15:55}
type(d)

dict

In [27]:
len(d) #count of object present in it

1

In [29]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
list(range(1,-20,-2))

[1, -1, -3, -5, -7, -9, -11, -13, -15, -17, -19]

In [42]:
# prompt: 10 random numbers using numpy

import numpy as np

# Generate 10 random numbers between 0 and 1
random_numbers = np.random.rand(10)

random_numbers

array([0.71440018, 0.18769771, 0.90079929, 0.10104961, 0.74520377,
       0.53092735, 0.74193466, 0.75653671, 0.22265608, 0.86391315])

SET VS FROZENSET

In [43]:
#set                                                      # frozen sat
# 1.set is a mutable(can be changed)                        1. it is a immutable(cannot be changed)
# 2.supports : add(), remove(), clear()                     2. does not support add(), remove()